html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #BF4402;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 40px;
}

.wrapper {
    width: 70%;
    height: 98vh;
    min-height: 98vh;
    margin: 1vh auto;
    position: relative;
    background-color: #E5986E;
}

header {
    color: #BF4402;
    font-size: 80px;
    padding-top: 20px;
    margin-bottom: 20px;
    font-family: 'Rammetto One', cursive;
}

#start {
    width: 70%;
    margin: 0 auto;
    padding: 1px;
}

#start:hover {
    padding: 0px;
    background-color: #CCA103;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.question {
    margin: 40px;
}

.answer {
    width: 50%;
    margin: 0 auto;
    padding: 1px;
}
.answer:hover {
    padding: 0px;
    background-color: #CCA103;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.q-header {
    margin: 10px;
}

img {
    height: 300px;
    display: block;
    margin: 0 auto;
}

#image {
    position: absolute;
    width: 100%;
    bottom: 100px;
}

#result {
    margin: 40px;
}

#restart {
    width: 70%;
    margin: 40px auto;
    padding: 1px;
}

#restart:hover {
    padding: 0px;
    background-color: #CCA103;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}